html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
}
#root {
  height: 100%;
}

.character-detail-page {
  .go-home {
    position: absolute;
    left: 5%;
    top: 12%;
    background: transparent;
    color: white;
    padding: 14px;
    font-size: 30px;
    font-weight: bolder;
    z-index: 666;
  }
  .go-home:hover,
  .go-home:focus {
    transform: scale(1.1);
    text-shadow: 2px 2px 20px #15e642;
  }
}
